@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-primary: 'Gabarito', sans-serif;

    --color-background: #15202b;
    --color-secondary: #1a2734;
    --color-terceary: #23303c;
    --color-hover: #223141;

    --color-secondaryFont: #8898a6;

    --color-buttonActive: #4e9adc;
    --color-buttonHover: #1966a9;
    --color-secondaryButtonActive: #848484;

    --color-error: #ff3838;
}

html {
    font-family: var(--font-primary);
    background-color: var(--color-background);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    background-color: #1a2734 !important;
    caret-color: #8898a6 !important;
    -webkit-text-fill-color: #8898a6;
}
